.events-page ul {
    background-color: #48EDDD;
}

.th, td {
    text-align: start;
}

.create-btn {
    float: right;
}

.right-btn {
    float: right;
    margin-left: 10px;
}

.success {
    background-color: #28a745;
    color: #fff;
}

.danger {
    background-color: #c82333;
    color: white;
}

.left-btn {
    float: left;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

fill-height {
    height: 100vh;
}

.v-alert {
    border-radius: 4px;
}

.v-card {
    border-radius: 8px;
}

.text-h2 {
    color: #2196F3;
}

.v-btn {
    border-radius: 4px;
}

.nav-link {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin-right: 20px;
}

.nav-link.router-link-exact-active {
    color: #3d3737;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}


v-list-item-content span p{
    padding-left: 20px;
}

v-list-item-content span div{
    padding-left: 20px;
}
